@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
}

/* Global Links */
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #187e3c;
}
/* Header Styles */
header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background:#f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}

header.hidden {
  transform: translateY(-100%);
}

header .logo {
  margin-top: 10px;
  font-size: 3em;
  font-weight: bold;
  transition: transform 0.3s ease-in-out;
}
header .logo:hover {
  transform: scale(1.05);
}

header nav {
  display: flex;
  align-items: center;
}

header nav ul {
  list-style: none;
  display: flex;
}

header nav ul li {
  margin: 0 5px;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.5s ease-in;
}

header nav ul li:hover{
  background-color: #d5d5d5;
  transform: scale(1.05);
}

header nav ul li a {
  font-size: 1.23em;
  font-weight: bold;
  color: #187e3c;
  transition: all 0.3s ease-out;
}

header nav ul li a:hover {
  color: #0f5c30;
  transform: scaleY(-2px);
}
/* Media Queries */
@media (max-width: 1200px) {
  header {
    padding: 30px 15px;
  }

  header .logo{
    margin: 10px 10px;
    font-size: 2em;
    font-weight: bold;
  }

  header nav ul li {
    margin: 10px 5px;
    padding: 5px;
  }
  header nav ul li a {
    font-size: 1.18em;
    font-weight: bold;
  }
  
}
@media (max-width: 992px) {
  header {
    padding: 20px 10px;
    transform: translateY(0);
    justify-content: space-between;
  }

  header .logo{
    margin:0;
    font-size: 1.7em;
    font-weight: bold;
  }

  header nav ul{
    width: 100%;
  }

  header nav ul li {
    margin: 20px 2px;
    padding: 0;
  }

  header nav ul li a {
    font-size: 1.03em;
    font-weight: bold;
    color: #187e3c;
    padding: 4px;
    text-align: center;
    width: 100%;
    display: flex;
  }
  header nav ul li a:hover {
    font-size: 1.06em;
  }

}

@media (max-width: 800px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transform: none;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    background: #f5f5f5;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
  }

  header .logo {
    margin: 5px;
    font-size: .0em;
    font-weight: bold;
  }

  /* Hamburger Button */
  .hamburger {
    position: relative;
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-right: 15px;
    transition: transform 0.3 ease;
  }
  .hamburger:hover{
    transform: scale(1.1);
  }

  .hamburger span {
    width: 100%;
    height: 4px;
    background-color: #187e3c;
    border-radius: 4px;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .hamburger.open span:nth-child(1) {
    transform: rotate(45deg) translateY(11px);
  }
  
  .hamburger.open span:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.open span:nth-child(3) {
    transform: rotate(-45deg) translateY(-11px);
  }

  /* Navigation Menu */
  #nav-menu {
    position: fixed;
    top: 72px;
    right: 0;
    width: 30%;
    height: auto;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 10px;
    display: none;
    transition: all 0.3s ease-in-out;
  }

  #nav-menu.open {
    display: block;
  }

  header nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-top: 0;
    width: 100%;
  }

  header nav ul li {
    margin: 2px 10px;
    padding: 0;
  }

  header nav ul li a {
    font-size: .9em;
    color: #187e3c;
    padding: 5px 10px;
    text-align: center;
    width: 100%;
    display: block;
  }

  header nav ul li:nth-child(8) a{
    padding: 0;
  }

  header nav ul li a:hover {
    font-size: .95em;
    color: #0f5c30;
  }
}

/* Hero Section Styles */
.hero {
  background-image: url("img/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #2d2d2d;
  position: relative;
}

.hero-overlay {
  background: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.hero-content {
  opacity: 0;
  position: relative;
  z-index: 1;
  transition: opacity 1s ease;
  visibility: hidden;
}

.hero-content.visible {
  opacity: 1;
  visibility: visible;
}

.hero h1 {
  font-size: 3em;
  color: #187e3c;
}

.hero p {
  font-size: 1.2em;
  margin: 10px 0 0;
}
@media(max-width:800px){
  body {
    line-height: 1.1;
  }
  .hero{
    height: 50vh;
  }
  .hero h1 {
    font-size: 1.5em;
  }
  .hero p{
    font-size: .9em;
  }
}
/* Container Styles */
.container {
  width: 95%;
  margin: 0 auto;
  padding: 10px;
}

/* Section Styles */
.section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  padding: 20px;
  margin: 5px 0;
  background: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

.section.visible {
  opacity: 1;
  transform: translateY(0);
}

h2 {
  font-size: 2em;
  margin-bottom: 40px;
  padding: 20px;
  text-align: center;
  color: #187e3c;
}

.clear{
  clear: both;
}

@media(max-width:800px){
  .section{
    padding: 10px;
    
  }
  h2 {
    font-size: 1.3em;
    margin: 10px;
    padding: 5px;
  }
}

/* About Us */
.tabs {
  display: flex;
  justify-content: left;
  margin-bottom: 30px;
}

.tab-button {
  font-size: 1.1em;
  background-color: #e0e0e0;
  color: #2d2d2d;
  border: 2px solid transparent;
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.1s, border-color 0.3s;
}

.tab-button:hover {
  background-color: #d5d5d5;
  border-color: #b0bec5;
}

.tab-button.active {
  font-weight: bolder;
  background-color: #187e3c;
  color: white;
}

.tab {
  display: none;
  opacity: 0;
  transition: 0.5s ease-in;
}

.tab.active {
  display: block;
  opacity: 1;
}

.tab.active.show {
  transition: opacity 0.3s ease-in-out;
}

tab .p {
  color: #2d2d2d;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Media Queries */
@media (max-width: 1200px){
  .tabs{
    margin-bottom: 15px;
  }
  .tab-button{
    font-size: 1.1em;
  }
  .tab-content p {
    font-size: 1em;
    line-height: 1.3;
  }
}
@media (max-width: 992px){
  .tabs{
    margin-bottom: 20px;
  }
  .tab-button{
    font-size: 1em;
  }
  .tab-content p {
    font-size: .99em;
    line-height: 1.25;
  }
}
@media (max-width:800px){
  .tabs{
    margin-bottom: 15px;
  }
  .tab-button{
    font-size: .98em;
  }
  .tab-content p {
    font-size: .95em;
    line-height: 1.2;
  }
}
/* Values Section */
.values-section {
  padding: 20px 15px;
  background: #f5f5f5;
}

.values-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.value-card {
  width: 100%;
  height: 250px;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.5s ease;
}

.card-front {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  transition: all 0.1s ease;
  position: relative;
}

.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.value-icon {
  width: 100px;
  height: 100px;
  object-fit: contain;
  transition: all 0.3s ease;
  filter: invert(28%) sepia(58%) saturate(5000%) hue-rotate(142deg);
}

.card-front h4 {
  font-size: 1.3em;
  margin: 10px 0;
  font-weight: bold;
  color: #187e3c;
  transition: all 0.3s ease;
  margin-top: 10px;
}

.card-description{
  font-size: 1.1em;
  color: #666;
  padding: 10px;
  opacity: 0;
  position: absolute;
  bottom: -3000px;
  left: 0;
  width: 100%;
  transition: opacity 0.3s ease, bottom 0.3s ease;
}

.value-card:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  padding: 11px;
  align-items: flex-start;
}

.value-card:hover .card-front {
  align-items: flex-start;
  margin-bottom: 0;
}

.value-card:hover .card-header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
}

.value-card:hover .value-icon {
  width: 35px;
  height: 35px;
  float: left;
  margin-top: 10px;
  margin-right: 10px;
}

.value-card:hover h4 {
  float: right;
  font-size: 1.26em;
}

.value-card:hover .card-description {
  text-align: center;
  opacity: 1;
  top: 60px;
  bottom: 0;
  transition: opacity 0.3s ease, bottom 0.3s ease;
}
@media (max-width:992px){
  .values-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .value-card{
    height: 200px;
  }

  .value-icon {
    width: 85px;
    height: 85px;
  }

  .card-front h4 {
    margin-top: 15px;
    font-size: 1.2em;
  }

  .card-description {
    font-size: .94em;
    line-height: 1.15;
    padding: 10px;
  }
  .value-card:hover .card-front h4{
    font-size: 1.05em;
  }
  .value-card:hover .card-description{
    font-size: .94em;
    padding: 10px;
  }
}

@media (max-width:800px){
  .values-grid {
    grid-template-columns: 1fr;
  }

  .value-card{
    height: 180px;
  }

  .value-icon {
    width: 70px;
    height: 70px;
  }

  .card-front h4 {
    margin-top: 20px;
    font-size: 1em;
  }

  .card-description {
    font-size: .9em;
    line-height: 1.1;
    padding: 10px;
    margin-bottom: 30px;
  }
  .value-card:hover .card-front h4{
    font-size: .95em;
  }
  .value-card:hover .card-description{
    font-size: .9em;
    padding: 10px;
  }
}

/* partners-carousel */

.partners-carousel-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .partners-carousel {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease-in-out;
  }
  
  .silde {
    flex: 0 0 auto; /* Ensure the items do not stretch */
    text-align: center;
    padding: 10px;
    margin: 10px 20px;
  }

  .silde:hover{
    transform: scaleY(1.1);
    color:#2d2d2d;
  }
  .silde a{
    text-decoration: none;
  }
  .silde img {
    height: 200px;
    width: auto;
  }
  .partners-carousel .silde:nth-child(4) img{
    width: 500px;
  }
  .partners-carousel .silde:nth-child(6) img{
    width: 600px;
  }
  .partners-carousel .silde:nth-child(10) img{
    width: 400px;
  }
  .partners-carousel .slide:nth-child(11) img{
    height: 400px;
    width: 400px;
  }
  .partners-carousel .silde:nth-child(14) img{
    width: 500px;
  }
  .partner-name {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    font-weight: bolder;
  }
  
  .carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    z-index: 10;
  }
  
  .carousel-arrow.prev {
    left: 10px;
  }
  
  .carousel-arrow.next {
    right: 10px;
  }
  
  .carousel-arrow:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Change on hover */
  }
  
  
  /* Disabled Arrow */
  .carousel-arrow:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  /* Responsive Design for Different Screen Sizes */
  
  /* For tablets and small screens */
  @media (max-width: 1024px) {
    .partners-carousel-wrapper {
      height: 300px; /* Adjust height on medium screens */
    }
    .silde {
      width: 250px; /* Slightly smaller width for medium screens */
    }
  }
  
  /* For small screens (phones) */
  @media (max-width: 768px) {
    .partners-carousel-wrapper {
      height: 250px; /* Adjust height on small screens */
    }
    .silde {
      width: 200px; /* Smaller width for smaller screens */
    }
  }
  
  /* For very small screens */
  @media (max-width: 480px) {
    .partners-carousel-wrapper {
      height: 200px; /* Adjust height for mobile screens */
    }
    .silde {
      width: 150px; /* Further decrease slide width */
    }
  }

/* Involvement Section */
#involvement {
  padding: 60px 20px;
  background: #f5f5f5;
}

#involvement h2 {
  text-align: center;
  color: #187e3c;
  margin-bottom: 30px;
  font-size: 2em;
}

/* General Container Styling */
#involvement .container {
  margin: 0 auto;
  padding: 0 20px;
}

/* Carousel Styles */
.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  transition: transform 1s ease-in-out;
}

.carousel-item {
  display: flex;
  min-width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.carousel-item-left {
  width: 100%;
  flex: 1;
  opacity: 0;
  animation: fadeInImage 1s forwards;
  overflow: hidden;
}

.carousel-item-left img {
  border-radius: 5px;
  width: 90%;
  height: auto;
  object-fit: cover;
}

.carousel-item-right {
  flex: 1;
  transform: translateY(50px);
  opacity: 0;
  animation: slideUpText 0.5s 1s forwards;
}

@keyframes fadeInImage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUpText {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 30px;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.carousel-arrow.left {
  left: 10px;
}

.carousel-arrow.right {
  right: 10px;
}

.carousel-arrow:hover {
  background: rgba(0, 0, 0, 0.8);
}

/* Clients Section */
.clients-carousel-wrapper {
  overflow: hidden;
  position: relative;
}

/* Carousel container */
.clients-carousel {
  display: flex;
  animation: slide 15s linear infinite;
  width: 2400px;
}

.clients-carousel-wrapper:hover .clients-carousel {
  animation-play-state: paused;
}

.client-card {
  flex-shrink: 0;
  width: 200px;
  text-align: center;
  margin: 0 20px;
}
.client-card a{
  text-decoration: none;
}

.client-logo {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}

.client-name {
  font-size: 1rem;
  font-weight: 600;
  color: #333;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.client-card:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media(max-width:800px) {

}

/* General Styles for the Contact Section */
#contact .contact-section {
    padding: 50px 0;
    background-color: #f9f9f9;
  }
  
 #contact .container {
    max-width: 95%;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .contact-upper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  
  /* Left Side - Company Info */
  .contact-info {
    width: 45%;
  }
  
  .contact-info .company-logo {
    width: 150px;
    margin-bottom: 20px;
  }
  
  .contact-info p {
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
  }
  
  .contact-info a {
    color: #187e3c;
    text-decoration: none;
  }
  
  .contact-info a:hover {
    color: #0f5c30;
  }
  
  /* Right Side - Map Embed */
  .contact-map {
    width: 50%;
    height: 300px;
  }
  
  .contact-map iframe {
    width: 100%;
    height: 100%;
  }
  
  /* Bottom Section - Contact Form */
  .contact-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .contact-form h2 {
    text-align: left;
    margin-bottom: 30px;
    font-size: 2em;
  }
  
  /* Form Group Styling */
  .form-group {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .form-left,
  .form-right {
    width: 48%;
  }
  
  .input-container {
    position: relative;
    margin-bottom: 20px;
  }
  
  /* Input and Textarea Styling */
  input,
  textarea {
    width: 100%;
    padding: 12px 12px 12px 12px; /* Padding for space for the label */
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    background-color: transparent;
    box-sizing: border-box; /* Ensures padding is included in the element's width/height */
  }
  
  /* Textarea Height */
  textarea {
    height: 150px;
    resize: none; /* Optional, prevents resizing */
  }
  
  /* Floating Label Styling */
  input:focus,
  textarea:focus {
    transition: all 0.3s ease-in;
    border-color: #187e3c;
    outline: none;
  }
  
  /* Label Styling */
label {
    position: absolute;
    top: 16px; /* Initially position label inside the input */
    left: 12px;
    font-size: 1rem;
    color: #999;
    transition: all 0.3s ease; /* Transition the top and font-size properties */
    pointer-events: none; /* Prevent the label from interfering with input interaction */
    opacity: 0; /* Initially hide label */
  }
  
  /* Show label on focus or when the input is filled */
  input:focus + label,
  textarea:focus + label,
  input:not(:placeholder-shown) + label,
  textarea:not(:placeholder-shown) + label {
    top: -18px; /* Move label above input */
    font-size: 1rem; /* Shrink label font size */
    color: #187e3c; /* Change label color */
    opacity: 1; /* Make label visible */
  }
  
  /* Submit Button */
  .submit-btn {
    display: block;
    width: 30%;
    padding: 14px;
    background-color: #187e3c;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submit-btn:hover {
    background-color: #0f5c30;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .contact-upper {
      flex-direction: column;
      align-items: center;
    }
    
    .contact-info,
    .contact-map {
      width: 100%;
      margin-bottom: 30px;
    }
  
    .form-group {
      flex-direction: column;
    }
  
    .form-left,
    .form-right {
      width: 100%;
    }
  }
  
  
/* Footer Styles */
footer {
  background-color: #f5f5f5; /* Light background */
  color: #187e3c; /* Green text color */
  padding: 40px 20px;
  text-align: center;
  position: relative;
}

footer p {
  color: #2d2d2d; /* Green link color */
  margin: 0;
  font-size: 1em;
}

footer a {
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

footer a:hover {
  color: #0f5c30;
}

/* Footer Columns */
.footer-columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-column {
  flex: 1;
  margin: 20px;
}

.footer-column h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  text-decoration: none;
  color: #2d2d2d;
}

.footer-column ul li a:hover{
  color: black;
  font-size: 1.07em;
}
.footer-textarea {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 5px;
  margin: 20px 10px;
  border-radius: 5px;
  border: 1px solid #187e3c;
  background-color: #fff;
  color: #333;
  font-size: 1.1em;
}

.nl-button {
  display: inline-block;
  justify-content: center;
  align-items: center;
  background-color: #187e3c;
  color: white;
  padding: 8px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}
.nl-button:hover {
  background-color: white;
  color: #187e3c;
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
/* Media Queries for Contact Section */
@media (max-width: 768px) {
  .contact-section {
    flex-direction: column;
    align-items: stretch;
  }

  .contact-form,
  .contact-details {
    width: 100%;
    padding: 30px;
    box-sizing: border-box; /* Ensures proper padding and width handling */
  }
}

/* Button Styles */
.button {
  display: inline-block;
  background-color: #187e3c;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0f5c30;
}

/* Flex Utilities */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

/* Visibility Utilities */
.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

/* Animation Utilities */
.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slide-up {
  animation: slideUp 0.5s ease-in-out;
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
